# Import thư viện cần thiết

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

Điều chính kích thước và độ phóng chung cho các biểu đồ trong bài tập này.

In [2]:
plt.rcParams['figure.figsize'] = [12, 7]
plt.rcParams['figure.dpi'] = 100

# Thu thập dữ liệu

## Chủ đề dữ liệu

Dữ liệu trong cuộc thi "Costa Rican Household Poverty Prediction" trên Kaggle liên quan đến chủ đề xác định chính xác tiêu chuẩn thu nhập của các hộ gia đình nghèo tại Costa Rica. 

Câu chuyện cốt lõi: nhiều chương trình viện trợ xã hội gặp khó khăn và thách thức trong việc đảm bảo đúng người được viện trợ.

Cuộc thi này nhằm mục đích phát triển các thuật toán và mô hình học máy dự đoán chính xác hơn giúp cải thiện hiệu suất để phân loại mức độ và nhu cầu của từng hộ gia đình. Từ đó, giúp các chương trình hỗ trợ xã hội cung cấp viện trợ hiệu quả hơn cho những hộ thật sự cần thiết tại Costa Rica.

## Mục đích lựa chọn dữ liệu

Tăng cường nhận thức về vấn đề hỗ trợ những đối tượng khó khăn và đóng góp cách giải quyết bằng thuật toán tại Costa Rica nói riêng và các uqốc gia trên thế giới nói chung.

Dữ liệu cũng giúp nhóm có cơ hội tiếp cận và làm việc với tập dữ liệu thực tế, qua đó cải thiện khả năng xử lý dữ liệu và kỹ năng xây dựng mô hình dự đoán.

## Cách thức thu thập dữ liệu

Tập dữ liệu bao gồm các thông tin nhân khẩu, học vấn, công việc, thu nhập và các điều kiện sống khác. Dữ liệu được thu thập thông qua cuộc khảo sát trực tiếp tại các hộ gia đình hoặc thông qua các cơ quan tổ chức chính phủ hoặc phi chính phủ.

# Khám phá dữ liệu

## Đọc dữ liệu

In [3]:
train = pd.read_csv('../data/train.csv')
train.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [4]:
test = pd.read_csv('../data/test.csv')
test.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,age,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq
0,ID_2f6873615,NaN,0,5,0,1,1,0,NaN,1,...,4,0,16,9,0,1,2.25,0.25,272.25,16
1,ID_1c78846d2,NaN,0,5,0,1,1,0,NaN,1,...,41,256,1681,9,0,1,2.25,0.25,272.25,1681
2,ID_e5442cf6a,NaN,0,5,0,1,1,0,NaN,1,...,41,289,1681,9,0,1,2.25,0.25,272.25,1681
3,ID_a8db26a79,NaN,0,14,0,1,1,1,1.0,0,...,59,256,3481,1,256,0,1.00,0.00,256.00,3481
4,ID_a62966799,175000.0,0,4,0,1,1,1,1.0,0,...,18,121,324,1,0,1,0.25,64.00,NaN,324

## Số dòng và cột của dữ liệu

In [5]:
n_rows, n_col = train.shape
n_rows, n_col

(9557, 143)

In [6]:
n_rows, n_col = test.shape
n_rows, n_col

(23856, 142)

## Các dòng dữ liệu

### Ý nghĩa mỗi dòng dữ liệu?

In [7]:
train.sample(10)

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
5656,ID_bb5844b57,178000.0,0,5,0,1,1,0,NaN,0,...,121,1681,25,121,4,2.777778,0.444444,121.000000,1681,4
8322,ID_b8f682148,NaN,0,4,0,1,0,0,NaN,0,...,36,1521,16,0,4,4.000000,1.000000,36.000000,1521,3
2843,ID_e7482e964,120000.0,0,4,0,1,1,0,NaN,1,...,36,361,36,36,9,9.000000,1.000000,93.444450,361,4
8715,ID_64fd1497a,294000.0,0,4,0,1,1,0,NaN,0,...,144,1089,4,36,0,0.444444,0.000000,81.000000,1089,4
4485,ID_5a2248e30,NaN,0,7,0,1,1,0,NaN,0,...,121,3136,36,121,0,2.250000,0.000000,169.000000,3136,4
5041,ID_03ef0d78a,NaN,0,6,0,1,1,1,1.0,0,...,16,121,9,225,1,0.562500,0.250000,196.000000,121,4
2390,ID_65c7596f1,NaN,0,6,0,1,1,0,NaN,0,...,36,5929,4,36,0,1.000000,64.000000,36.000000,5929,3
6386,ID_ec5c587fa,NaN,0,4,0,1,1,0,NaN,0,...,49,484,25,0,0,6.250000,0.000000,16.000000,484,2
5018,ID_71b509f65,NaN,0,6,0,1,1,0,NaN,0,...,36,3600,25,36,0,1.562500,0.062500,60.840004,3600,4
7200,ID_a80a228a0,65000.0,0,3,0,1,0,0,NaN,1,...,49,225,16,0,9,4.000000,9.000000,36.000000,225,2

+ Không nhận thấy những dòng có ý nghĩa khác nhau.

### Các dòng dữ liệu có trùng lặp không?

In [8]:
is_duplicate = train.duplicated().sum()
if is_duplicate:
    print(f"Data have duplicated {is_duplicate} rows.")
else:
    print(f"Data have no duplicated row.")

Data have no duplicated row.

In [9]:
is_duplicate = test.duplicated().sum()
if is_duplicate:
    print(f"Data have duplicated {is_duplicate} rows.")
else:
    print(f"Data have no duplicated row.")

Data have no duplicated row.

## Các cột dữ liệu

### Ý nghĩa các cột

In [10]:
pd.set_option('display.max_rows', None)
meaning = pd.read_csv('../data/codebook.csv')
meaning

       Variable name                               Variable description
0               v2a1                               Monthly rent payment
1             hacdor                        =1 Overcrowding by bedrooms
2              rooms                   number of all rooms in the house
3             hacapo                           =1 Overcrowding by rooms
4               v14a                     =1 has toilet in the household
5             refrig               =1 if the household has refrigerator
6               v18q                                      owns a tablet
7              v18q1                   number of tablets household owns
8               r4h1                 Males younger than 12 years of age
9               r4h2                    Males 12 years of age and older
10              r4h3                       Total males in the household
11              r4m1               Females younger than 12 years of age
12              r4m2                  Females 12 years of age and older
13              r4m3                     Total females in the household
14              r4t1               persons younger than 12 years of age
15              r4t2                  persons 12 years of age and older
16              r4t3                     Total persons in the household
17            tamhog                              size of the household
18            tamviv                                             TamViv
19          escolari                                 years of schooling
20           rez_esc                             Years behind in school
21            hhsize                                     household size
22       paredblolad  =1 if predominant material on the outside wall...
23       paredzocalo  =1 if predominant material on the outside wall...
24         paredpreb  =1 if predominant material on the outside wall...
25          pareddes  =1 if predominant material on the outside wall...
26          paredmad  =1 if predominant material on the outside wall...
27         paredzinc  =1 if predominant material on the outside wall...
28       paredfibras  =1 if predominant material on the outside wall...
29        paredother  =1 if predominant material on the outside wall...
30        pisomoscer  =1 if predominant material on the floor is mos...
31       pisocemento  =1 if predominant material on the floor is cement
32         pisoother   =1 if predominant material on the floor is other
33         pisonatur  =1 if predominant material on the floor is  na...
34       pisonotiene                    =1 if no floor at the household
35        pisomadera    =1 if predominant material on the floor is wood
36         techozinc  =1 if predominant material on the roof is meta...
37    techoentrepiso  =1 if predominant material on the roof is fibe...
38         techocane  =1 if predominant material on the roof is natu...
39         techootro    =1 if predominant material on the roof is other
40         cielorazo                        =1 if the house has ceiling
41   abastaguadentro          =1 if water provision inside the dwelling
42    abastaguafuera         =1 if water provision outside the dwelling
43       abastaguano                           =1 if no water provision
44            public          =1 electricity from CNFL, ICE, ESPH/JASEC
45           planpri                  =1 electricity from private plant
46            noelec                  =1 no electricity in the dwelling
47           coopele                    =1 electricity from cooperative
48        sanitario1                       =1 no toilet in the dwelling
49        sanitario2           =1 toilet connected to sewer or cesspool
50        sanitario3                =1 toilet connected to  septic tank
51        sanitario5       =1 toilet connected to black hole or letrine
52        sanitario6                =1 toilet connected to other system
53     energcocinar1  =1 no main source of energy used for cooking (...
54     energcocinar2  =1 main source of energy used for cooking elec...
55     energcocinar3      =1 main source of energy used for cooking gas
56     energcocinar4  =1 main source of energy used for cooking wood...
57         elimbasu1      =1 if rubbish disposal mainly by tanker truck
58         elimbasu2  =1 if rubbish disposal mainly by botan hollow ...
59         elimbasu3           =1 if rubbish disposal mainly by burning
60         elimbasu4  =1 if rubbish disposal mainly by throwing in a...
61         elimbasu5  =1 if rubbish disposal mainly by throwing in r...
62         elimbasu6                =1 if rubbish disposal mainly other
63           epared1                                =1 if walls are bad
64           epared2                            =1 if walls are regular
65           epared3                               =1 if walls are good
66           etecho1                                 =1 if roof are bad
67           etecho2                             =1 if roof are regular
68           etecho3                                =1 if roof are good
69             eviv1                                =1 if floor are bad
70             eviv2                            =1 if floor are regular
71             eviv3                               =1 if floor are good
72               dis                               =1 if disable person
73              male                                         =1 if male
74            female                                       =1 if female
75      estadocivil1                       =1 if less than 10 years old
76      estadocivil2                       =1 if free or coupled uunion
77      estadocivil3                                      =1 if married
78      estadocivil4                                     =1 if divorced
79      estadocivil5                                    =1 if separated
80      estadocivil6                                     =1 if widow/er
81      estadocivil7                                       =1 if single
82       parentesco1                               =1 if household head
83       parentesco2                               =1 if spouse/partner
84       parentesco3                                 =1 if son/doughter
85       parentesco4                             =1 if stepson/doughter
86       parentesco5                          =1 if son/doughter in law
87       parentesco6                            =1 if grandson/doughter
88       parentesco7                                =1 if mother/father
89       parentesco8                         =1 if father/mother in law
90       parentesco9                               =1 if brother/sister
91      parentesco10                        =1 if brother/sister in law
92      parentesco11                          =1 if other family member
93      parentesco12                      =1 if other non family member
94           idhogar                         Household level identifier
95         hogar_nin            Number of children 0 to 19 in household
96        hogar_adul                      Number of adults in household
97       hogar_mayor              # of individuals 65+ in the household
98       hogar_total            # of total individuals in the household
99        dependency                                    Dependency rate
100           edjefe       years of education of male head of household
101           edjefa     years of education of female head of household
102         meaneduc        average years of education for adults (18+)
103       instlevel1                           =1 no level of education
104       instlevel2                              =1 incomplete primary
105       instlevel3                                =1 complete primary
106       instlevel4             =1 incomplete academic secondary level
107       instlevel5               =1 complete academic secondary level
108       instlevel6            =1 incomplete technical secondary level
109       instlevel7              =1 complete technical secondary level
110       instlevel8              =1 undergraduate and higher education
111       instlevel9                   =1 postgraduate higher education
112         bedrooms                                 number of bedrooms
113     overcrowding                                 # persons per room
114        tipovivi1                        =1 own and fully paid house
115        tipovivi2                     =1 own, paying in installments
116        tipovivi3                                          =1 rented
117        tipovivi4                                      =1 precarious
118        tipovivi5                       =1 other(assigned, borrowed)
119         computer  =1 if the household has notebook or desktop co...
120       television                         =1 if the household has TV
121      mobilephone                                 =1 if mobile phone
122     qmobilephone                                 # of mobile phones
123           lugar1                                  =1 region Central
124           lugar2                                =1 region Chorotega
125           lugar3                      =1 region PacÃƒÂ­fico central
126           lugar4                                   =1 region Brunca
127           lugar5                      =1 region Huetar AtlÃƒÂ¡ntica
128           lugar6                             =1 region Huetar Norte
129            area1                                     =1 zona urbana
130            area2                                      =2 zona rural
131              age                                       Age in years
132      SQBescolari                                   escolari squared
133           SQBage                                        age squared
134   SQBhogar_total                                hogar_total squared
135        SQBedjefe                                     edjefe squared
136     SQBhogar_nin                                  hogar_nin squared
137  SQBovercrowding                               overcrowding squared
138    SQBdependency                                 dependency squared
139        SQBmeaned                                     meaned squared
140            agesq                                        Age squared

Thông tin các cột có thể đọc thêm tại [trang web](https://www.kaggle.com/competitions/costa-rican-household-poverty-prediction/data) của tập dữ liệu trên Kaggle.

### Kiểu dữ liệu của các cột

In [11]:
train.dtypes

Id                  object
v2a1               float64
hacdor               int64
rooms                int64
hacapo               int64
v14a                 int64
refrig               int64
v18q                 int64
v18q1              float64
r4h1                 int64
r4h2                 int64
r4h3                 int64
r4m1                 int64
r4m2                 int64
r4m3                 int64
r4t1                 int64
r4t2                 int64
r4t3                 int64
tamhog               int64
tamviv               int64
escolari             int64
rez_esc            float64
hhsize               int64
paredblolad          int64
paredzocalo          int64
paredpreb            int64
pareddes             int64
paredmad             int64
paredzinc            int64
paredfibras          int64
paredother           int64
pisomoscer           int64
pisocemento          int64
pisoother            int64
pisonatur            int64
pisonotiene          int64
pisomadera           int64
techozinc            int64
techoentrepiso       int64
techocane            int64
techootro            int64
cielorazo            int64
abastaguadentro      int64
abastaguafuera       int64
abastaguano          int64
public               int64
planpri              int64
noelec               int64
coopele              int64
sanitario1           int64
sanitario2           int64
sanitario3           int64
sanitario5           int64
sanitario6           int64
energcocinar1        int64
energcocinar2        int64
energcocinar3        int64
energcocinar4        int64
elimbasu1            int64
elimbasu2            int64
elimbasu3            int64
elimbasu4            int64
elimbasu5            int64
elimbasu6            int64
epared1              int64
epared2              int64
epared3              int64
etecho1              int64
etecho2              int64
etecho3              int64
eviv1                int64
eviv2                int64
eviv3                int64
dis                  int64
male                 int64
female               int64
estadocivil1         int64
estadocivil2         int64
estadocivil3         int64
estadocivil4         int64
estadocivil5         int64
estadocivil6         int64
estadocivil7         int64
parentesco1          int64
parentesco2          int64
parentesco3          int64
parentesco4          int64
parentesco5          int64
parentesco6          int64
parentesco7          int64
parentesco8          int64
parentesco9          int64
parentesco10         int64
parentesco11         int64
parentesco12         int64
idhogar             object
hogar_nin            int64
hogar_adul           int64
hogar_mayor          int64
hogar_total          int64
dependency          object
edjefe              object
edjefa              object
meaneduc           float64
instlevel1           int64
instlevel2           int64
instlevel3           int64
instlevel4           int64
instlevel5           int64
instlevel6           int64
instlevel7           int64
instlevel8           int64
instlevel9           int64
bedrooms             int64
overcrowding       float64
tipovivi1            int64
tipovivi2            int64
tipovivi3            int64
tipovivi4            int64
tipovivi5            int64
computer             int64
television           int64
mobilephone          int64
qmobilephone         int64
lugar1               int64
lugar2               int64
lugar3               int64
lugar4               int64
lugar5               int64
lugar6               int64
area1                int64
area2                int64
age                  int64
SQBescolari          int64
SQBage               int64
SQBhogar_total       int64
SQBedjefe            int64
SQBhogar_nin         int64
SQBovercrowding    float64
SQBdependency      float64
SQBmeaned          float64
agesq                int64
Target               int64
dtype: object

Các cột của tập dữ liệu `test` cũng tương tự.

### Với các cột numeric, các giá trị được phân bố như thế nào?

Ở phần này, với các cột có kiểu dữ liệu `numeric`, ta sẽ tính:
+ Tỉ lệ phần trăm các giá trị thiếu.
+ Giá trị min, mean, max.
+ Giá trị tứ phân vị thứ nhất, trung vị và tứ phân vị thứ 3.

In [12]:
def missing_ratio(df):
    return (df.isnull().sum() * 100 / len(df)).round(1)

def lower_quartile(df):
    return df.quantile(0.25).round(1)

def mean(df):
    return df.mean().round(1)

def median(df):
    return df.quantile(0.5).round(1)

def upper_quartile(df):
    return df.quantile(0.75).round(1)

num_col_info_df = train.select_dtypes(include=np.number)
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", mean, lower_quartile, median, upper_quartile, "max"])
num_col_info_df

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
missing_ratio,71.8,0.0,0.0,0.0,0.0,0.0,0.0,76.8,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.1,0.0,0.0
min,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.04,0.0,0.0,0.0,1.0
mean,165231.6,0.0,5.0,0.0,1.0,1.0,0.2,1.4,0.4,1.6,...,74.2,1643.8,19.1,53.5,3.8,3.20,3.9,102.6,1643.8,3.3
lower_quartile,80000.0,0.0,4.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,16.0,289.0,9.0,0.0,0.0,1.00,0.1,36.0,289.0,3.0
median,130000.0,0.0,5.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,36.0,961.0,16.0,36.0,1.0,2.20,0.4,81.0,961.0,4.0
upper_quartile,200000.0,0.0,6.0,0.0,1.0,1.0,0.0,2.0,1.0,2.0,...,121.0,2601.0,25.0,81.0,4.0,4.00,1.8,134.6,2601.0,4.0
max,2353477.0,1.0,11.0,1.0,1.0,1.0,1.0,6.0,5.0,8.0,...,441.0,9409.0,169.0,441.0,81.0,36.00,64.0,1369.0,9409.0,4.0

### Với các cột categorical, các giá trị được phân bố như thế nào?

Ở phần này, với các cột có kiểu dữ liệu `categorical`, ta sẽ tính:
+ Tỉ lệ phần trăm các giá trị thiếu.
+ Số lượng các giá trị khác nhau (ta sẽ không tính các giá trị thiếu).
+ Tỉ lệ phần trăm của mỗi giá trị trong cột.

In [13]:
def num_values(df):
    return df.nunique()

def value_ratios(df):
    value_counts = df.value_counts(normalize=True)*100
    value_ratios = value_counts.round(1).to_dict()
    value_ratios = dict(sorted(value_ratios.items(), key=lambda item: item[1], reverse=True))
    return value_ratios

cat_col_info_df = train.select_dtypes(include='object').drop(columns=['Id','idhogar'])
cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,dependency,edjefe,edjefa
missing_ratio,0.0,0.0,0.0
num_values,31,22,22
value_ratios,"{'yes': 22.9, 'no': 18.3, '.5': 15.7, '2': 7.6...","{'no': 39.4, '6': 19.3, '11': 7.9, '9': 5.1, '...","{'no': 65.2, '6': 9.9, '11': 4.2, '9': 2.5, '8..."

Nhóm nhận thấy ý nghĩa của các cột `dependency`, `edjefe`, `edjefa` nên có dữ liệu số. Ta sẽ giải quyết vấn đề này theo phương pháp sau:
+ Đối với cột `dependency`, ta sẽ tính toán lại bằng cách lấy căn bậc 2 từ cột `SQBdependency`.
+ Đối với 2 biến trình độ giáo dục `edjefe` và `edjefa`, ta sẽ chuẩn hóa **yes = 1**, **no = 0** và với các giá trị còn lại ta sẽ chuyển sang dữ liệu số.

In [14]:
mapping = {"yes": 1, "no": 0}

for df in [train, test]:
    df['dependency'] = np.sqrt(df['SQBdependency'])
    df['edjefa'] = df['edjefa'].replace(mapping).astype(np.float64)
    df['edjefe'] = df['edjefe'].replace(mapping).astype(np.float64)

## Xử lý các giá trị thiếu

In [15]:
train.isnull().sum()[train.isnull().sum() > 0]

v2a1         6860
v18q1        7342
rez_esc      7928
meaneduc        5
SQBmeaned       5
dtype: int64

---
Bổ sung thêm quan sát trên cả tập test để khẳng định chỉ có các cột đó bị thiếu.

In [16]:
test.isnull().sum()[train.isnull().sum() > 0]

v2a1         17403
v18q1        18126
rez_esc      19653
meaneduc        31
SQBmeaned       31
dtype: int64

### Cột v2a1

`v2a1` là số tiền thuê nhà hằng tháng của hộ gia đình đó. Nhóm giả định rằng trong số những hộ có giá trị `v2a1` bị thiếu tức là hộ gia đình đó có khả năng đã sở hữu căn nhà.

Do đó, nếu `tipovivi1` = 1 thì ta sẽ điền vào `v2a1` con trống là giá trị 0. Đồng nghĩa là hộ gia đình đó không trả thanh toán tiền thuê hằng tháng khi đã sở hữu căn nhà.

In [17]:
train.loc[(pd.isnull(train['v2a1']) & train['tipovivi1'] == 1), 'v2a1'] = 0
test.loc[(pd.isnull(test['v2a1']) & test['tipovivi1'] == 1), 'v2a1'] = 0

Vì không còn dữ liệu gì khác để suy luận, nên với những dòng còn thiếu khác ta sẽ loại bỏ ra khỏi tập dữ liệu.

In [18]:
train.dropna(subset=['v2a1'], inplace=True)
test.dropna(subset=['v2a1'], inplace=True)

### Cột v18q1

`v18q1` là số lượng máy tính bảng mà hộ gia đình sở hữu. Nhóm thực hiện kiểm tra số lượng được thống kê trong cột này.

In [19]:
train['v18q1'].value_counts(dropna=False)

NaN    6512
1.0    1484
2.0     430
3.0     129
4.0      34
5.0      13
6.0       6
Name: v18q1, dtype: int64

---
Bổ sung: `v18q` là biến mang ý nghĩa hộ gia đình có sở hữu mãy tính bảng hay không. Biến này chỉ mang 2 giá trị `1` nếu có sở hữu, hoặc `0` nếu không sở hữu. Vì vậy nhóm thực hiện thống kê các giá trị trong cột `v18q1` của từng giá trị trong cột `v18q`.

In [20]:
print('Thống kê "v18q1" nếu hộ gia đình CÓ sở hữu máy tính bảng:\n',train[train['v18q'] == 1]['v18q1'].value_counts(dropna=False))
print('\nThống kê "v18q1" nếu hộ gia đình KHÔNG sở hữu máy tính bảng:\n',train[train['v18q'] == 0]['v18q1'].value_counts(dropna=False))

Thống kê "v18q1" nếu hộ gia đình CÓ sở hữu máy tính bảng:
 1.0    1484
2.0     430
3.0     129
4.0      34
5.0      13
6.0       6
Name: v18q1, dtype: int64

Thống kê "v18q1" nếu hộ gia đình KHÔNG sở hữu máy tính bảng:
 NaN    6512
Name: v18q1, dtype: int64

In [21]:
print('Thống kê "v18q1" nếu hộ gia đình có sở hữu máy tính bảng:\n',test[test['v18q'] == 1]['v18q1'].value_counts(dropna=False))
print('\nThống kê "v18q1" nếu hộ gia đình không sở hữu máy tính bảng:\n',test[test['v18q'] == 0]['v18q1'].value_counts(dropna=False))

Thống kê "v18q1" nếu hộ gia đình có sở hữu máy tính bảng:
 1.0    4019
2.0     966
3.0     314
4.0      88
5.0      18
6.0       4
Name: v18q1, dtype: int64

Thống kê "v18q1" nếu hộ gia đình không sở hữu máy tính bảng:
 NaN    15977
Name: v18q1, dtype: int64

Số liệu đã thống kê hoàn toàn không có giá trị 0, ta có thể đảm bảo rằng những giá trị thiếu có nghĩa là hộ gia đình đó không sở hữu máy tính bảng.

In [22]:
train['v18q1'].fillna(0, inplace=True)
test['v18q1'].fillna(0, inplace=True)

### Cột rez_esc

`rez_esc` là số năm đi học trễ. Các hộ gia đình có giá trị trống có thể không có trẻ em hiện đang đi học. Ta đi kiểm tra tuổi của những người không có giá trị bị thiếu trong cột này.

In [23]:
train['rez_esc'].value_counts()

0.0    1085
1.0     196
2.0      81
3.0      43
4.0      23
5.0       7
Name: rez_esc, dtype: int64

Sau đọc thảo luận về dữ liệu cuộc thi này, nhóm nhận thấy rằng thuộc tính `rez_esc` chỉ được xác định cho các đối tượng trong độ tuổi từ 7 đến 19. Do đó, các đối tượng nhỏ hơn 7 tuổi hoặc từ 19 tuổi trở lên thì giá trị `rez_esc` sẽ được đặt là 0.

In [24]:
# train.loc[((train['age'] > 19) | (train['age'] < 7)) & (train['rez_esc'].isnull()), 'rez_esc'] = 0
# test.loc[((test['age'] > 19) | (test['age'] < 7)) & (test['rez_esc'].isnull()), 'rez_esc'] = 0

Đối với những giá trị còn thiếu với đối tượng có độ tuổi từ 7 đến 19 sẽ được gán cờ để xử lý sau. Vì nếu gán bằng 0 có thể gây nhiễu dữ liệu.

In [25]:
# train['rez_esc-missing'] = train['rez_esc'].isnull()
# test['rez_esc-missing'] = test['rez_esc'].isnull()

---
Bổ sung:

In [26]:
rez_esc_not_null_age = train[~train['rez_esc'].isnull()]['age']
print('Khoảng tuổi mà thuộc tính "rez_esc" được xác định: Từ',
      min(rez_esc_not_null_age),
      'tuổi đến',
      max(rez_esc_not_null_age),
      'tuổi.')

Khoảng tuổi mà thuộc tính "rez_esc" được xác định: Từ 7 tuổi đến 17 tuổi.

Câu hỏi: Tại sao không điền dữ liệu dựa vào cột trước nó `escolari`?

In [27]:
escolari_greater_zero_age = train[train['escolari'] > 0]['age']
print('Độ tuổi nhỏ nhất mà trẻ em Costa Rica bắt đầu đến trường:',
      min(escolari_greater_zero_age)-1, 'tuổi.')

Độ tuổi nhỏ nhất mà trẻ em Costa Rica bắt đầu đến trường: 6 tuổi.

Đầu tiên, điền dữ liệu bị thiếu: Nếu số năm đi học `escolari` là `0` thì chắc chắn không thể có số năm nghỉ học, vì vậy điền giá trị `0` vào các dữ liệu bị thiếu vào biến `rez_esc`.

In [28]:
train.loc[(train['escolari'] == 0), 'rez_esc'] = 0
test.loc[(test['escolari'] == 0), 'rez_esc'] = 0

Sau đọc thảo luận về dữ liệu cuộc thi này, nhóm nhận thấy rằng thuộc tính `rez_esc` chỉ được xác định (tức không chứa dữ liệu bị thiếu) cho các đối tượng trong độ tuổi từ 7 đến 17. Bên cạnh đó, độ tuổi trẻ em bắt đầu tới trường là 6. Vì vậy:
- Độ tuổi nhỏ hơn 7 chắc chắn sẽ không có năm nghỉ học.
- Những người có độ tuổi lớn hơn 17 có thể không thuộc đối tượng nghiên cứu sâu nên có thể điền giá trị 0.

In [29]:
train.loc[(train['age'] < 7) | (train['age'] > 17), 'rez_esc'] = 0
test.loc[(test['age'] < 7) | (test['age'] > 17), 'rez_esc'] = 0

Đối với những giá trị còn thiếu với đối tượng có độ tuổi từ 7 đến 17 tuổi sẽ được gán cờ để xử lý sau. Vì nếu gán bằng 0 có thể gây nhiễu dữ liệu. Lý do khác là số năm nghỉ học.

In [30]:
train['rez_esc-missing'] = train['rez_esc'].isnull()
test['rez_esc-missing'] = test['rez_esc'].isnull()

### Cột meaneduc

`meaneduc` là số năm học trung bình của người lớn (hơn 18 tuổi).

In [31]:
train.loc[pd.isnull(train['meaneduc'])].head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target,rez_esc-missing
1291,ID_bd8e11b0f,0.0,0,7,0,1,1,0,0.0,0,...,324,1,0,1,0.04,64.0,NaN,324,4,False
1840,ID_46ff87316,110000.0,0,1,0,1,1,0,0.0,0,...,324,4,16,4,4.00,64.0,NaN,324,4,False
1841,ID_69f50bf3e,110000.0,0,1,0,1,1,0,0.0,0,...,324,4,16,4,4.00,64.0,NaN,324,4,False
2049,ID_db3168f9f,180000.0,0,3,0,1,1,0,0.0,0,...,361,4,144,4,1.00,64.0,NaN,361,4,False
2050,ID_2a7615902,180000.0,0,3,0,1,1,0,0.0,0,...,361,4,144,4,1.00,64.0,NaN,361,4,False

Nhóm sẽ điền các giá trị thiếu bằng cách đi tính giá trị trung bình của số năm học `escolari` theo từng hộ gia đình.

In [32]:
mean_escolari_by_idhogar = train.groupby('idhogar')['escolari'].mean()
train['meaneduc'] = train.apply(lambda row: mean_escolari_by_idhogar[row['idhogar']] if pd.isnull(row['meaneduc']) else row['meaneduc'], axis=1)

mean_escolari_by_idhogar = train.groupby('idhogar')['escolari'].mean()
train['meaneduc'] = train.apply(lambda row: mean_escolari_by_idhogar[row['idhogar']] if pd.isnull(row['meaneduc']) else row['meaneduc'], axis=1)

### Cột SQBmeaned

`SQBmeaned` là bình phương của `meaneduc` nên với những giá trị thiếu ở cột này nhóm sẽ đi tính lại giá trị bình phương và điền vào.

In [33]:
train.loc[pd.isnull(train['SQBmeaned']), 'SQBmeaned'] = train.loc[pd.isnull(train['SQBmeaned']), 'meaneduc'] ** 2
test.loc[pd.isnull(test['SQBmeaned']), 'SQBmeaned'] = test.loc[pd.isnull(test['SQBmeaned']), 'meaneduc'] ** 2

## Lưu dữ liệu đã xử lý vào file

In [34]:
train.to_csv('../data/train_preprocessed_DK.csv', index=False)
test.to_csv('../data/test_preprocessed_DK.csv', index=False)